.full-Container {
    height: 99.5vh;
    width: 99.8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right,#d4b189,#f0f4ff);
    font-family: 'Segoe UI', sans-serif;
  }
  
  .left-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container {
    height: 90%;
    width: 85%;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .Reset-Password-Image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .right-container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-field-container {
    height: 78%;
    width: 75%;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.1);
  }
  
  .title-of-field h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #1f2937;
    text-align: center;
  }
  
  .password-info-container {
    margin-top: 1rem;
    font-size: 0.95rem;
    color: #374151;
  }
  
  .password-info-list ul {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    list-style-type: disc;
    color: #4b5563;
    gap: 1rem; 
  }
  
  .password-info-list li {
    margin-bottom: 6px;
  }
  
  .fields-of-user {
    margin-top: 1rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .password-field,
  .confirm-password-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 80%;
  }
  
  .password-field label,
  .confirm-password-field label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #374151;
  }
  
  .password-field input,
  .confirm-password-field input {
    padding: 0.6rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    font-size: 0.95rem;
    transition: 0.3s ease;
  }
  
  .password-field input:focus,
  .confirm-password-field input:focus {
    border-color: #6366f1;
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.2);
  }
  
  .save-button-container {
    height: 7vh;
    margin-right:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
  }
  
  .button-to-save {
    height: 8vh;
    width: 12vw;
    background-color: #6366f1;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .button-to-save:hover {
    background-color: #4f46e5;
    transform: scale(1.02);
  }

  .confirm-password-field{
    margin-top: 1%;
  }
  
  .fields-of-user p {
    color: #ef4444;
    font-size: 0.85rem;
    margin-top: -2px;
    padding-left: 2px;
  }